//
// PrayerTimesMethodsAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
#if canImport(AnyCodable)
import AnyCodable
#endif

open class PrayerTimesMethodsAPI {

    /**
     Prayer Times Methods
     
     - parameter apiResponseQueue: The queue on which api response is dispatched.
     - parameter completion: completion handler to receive the data and the error objects
     */
    @discardableResult
    open class func v1MethodsGet(apiResponseQueue: DispatchQueue = OpenAPIClientAPI.apiResponseQueue, completion: @escaping ((_ data: MethodsSuccess?, _ error: Error?) -> Void)) -> RequestTask {
        return v1MethodsGetWithRequestBuilder().execute(apiResponseQueue) { result in
            switch result {
            case let .success(response):
                completion(response.body, nil)
            case let .failure(error):
                completion(nil, error)
            }
        }
    }

    /**
     Prayer Times Methods
     - GET /v1/methods
     - Returns all the prayer times calculation methods & details supported by Islamic Network API. \\  Furthermore, [you can use customize the methods & create your own if needed](https://aladhan.com/calculation-methods). 
     - returns: RequestBuilder<MethodsSuccess> 
     */
    open class func v1MethodsGetWithRequestBuilder() -> RequestBuilder<MethodsSuccess> {
        let localVariablePath = "/v1/methods"
        let localVariableURLString = OpenAPIClientAPI.basePath + localVariablePath
        let localVariableParameters: [String: Any]? = nil

        let localVariableUrlComponents = URLComponents(string: localVariableURLString)

        let localVariableNillableHeaders: [String: Any?] = [
            :
        ]

        let localVariableHeaderParameters = APIHelper.rejectNilHeaders(localVariableNillableHeaders)

        let localVariableRequestBuilder: RequestBuilder<MethodsSuccess>.Type = OpenAPIClientAPI.requestBuilderFactory.getBuilder()

        return localVariableRequestBuilder.init(method: "GET", URLString: (localVariableUrlComponents?.string ?? localVariableURLString), parameters: localVariableParameters, headers: localVariableHeaderParameters, requiresAuthentication: false)
    }
}
